/*detailedInfo.css*/

.detailed__container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin-left: 1rem;
  padding-right: 1rem;
  gap: 1.875rem;
  margin-top: 1rem;

  overflow-x: hidden;
}

.detailed__view {
  flex: 1;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: 0.75rem;
}

.view__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.info__img {
  border-radius: 0.5rem;
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border: 2px solid var(--soft-bg);
}

.info__title {
  font-size: 0.875rem;
  color: var(--soft-color);
  font-weight: normal;
  max-width: 10rem;
  text-align: left;
}
.info__btn {
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  background-color: rgb(239, 82, 64);
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  cursor: pointer;

  border: none;
  outline: none;
}

.info__btn:hover {
  opacity: 0.9;
}

.info__description {
  display: flex;
  flex-direction: column;
  align-items: start;

  padding: 1rem 0.25rem;
  gap: 1rem;
  color: var(--soft-color);
}

.elem {
  padding: 0;
  margin: 0;
  gap: 0;
  background-color: transparent;
  font-size: 0.75rem;

  .key {
    text-transform: capitalize;
    margin-right: 1rem;
    font-size: 0.75rem;
    font-weight: 500;
  }
  .value {
    margin-right: 1rem;
    font-size: 0.75rem;
  }
}

hr {
  width: 90%;
  border: 0.5px solid darkgray;
  margin: 1.25rem 0;
}

.view__chart {
  margin-top: 1rem;
  width: 350px;
  border-radius: 1rem;
  height: 350px;
  padding-top: 1rem;
  padding: 1rem;
}

.detailed__timeline {
  flex: 2;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 530px) {
  .detailed__container {
    flex-direction: column;
  }

  .view__chart {
    display: none;
  }
  .detailed__timeline {
    display: none;
  }
}
